:80 {
    # Static file root for the webapp
    root * /usr/share/caddy

    # Handles OPTIONS requests for all paths
    @options {
        method OPTIONS
    }
    handle @options {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Max-Age "3600"
        header Access-Control-Expose-Headers "Content-Length"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Methods "*"
        respond "" 200
    }

    # Everything on /api/* goes through reverse_proxy
    handle /api/* {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Max-Age "3600"
        header Access-Control-Expose-Headers "Content-Length"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Methods "*"

        uri strip_prefix /api

        reverse_proxy {$SHOWROOM_API_UPSTREAM} {
            header_up X-Forwarded-For {remote_host}
            header_up Host {host}
        }
    }

    # Everything else goes to the webapp
    handle {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Max-Age "3600"
        header Access-Control-Expose-Headers "Content-Length"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Methods "*"

        # fallback to index.html for routing
        try_files {path} /index.html
        file_server
    }
}
